// colors
$main-text: #333; // main text
$link: #35a785; // anchor tags
$background: #FFFFFF; // body background color
$headerColor: #F5F5F5; //header background color
$border: 1px solid #e7e7e7; //unique border color
$color-1: #666; // light grey
$color-2: #1589C9; // apple blue
$color-3: #bad26e; // green
// fonts 
$primary-font: 'helvetica neue',
helvetica;
// Width and Height
$max-width: 1200px; // max-width of the page/wrapper
